.c-container {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.divider {
  border: 1px solid black;
  width: 100%;
}
